# Ignore dataset
Dataset-for-illegal-buildings-detection-from-satellite/

# Ignore large model files
# *.keras  # Using Git LFS for these files
*.h5

# Ignore database file
*.db

# Ignore uploaded images
# uploads/  # Including uploads folder



# Ignore training images
# imgs/  # Including training and testing images

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env
venv/
env/

# OS specific files
.DS_Store
Thumbs.db

# Ignore Dockerfile
Dockerfile 
