<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="default-bg">

    <div class="container">
        <h2 class="glowing-text">Login</h2>
        <form method="POST">
            <div class="input-group">
                <label>Username:</label>
                <input type="text" name="username" required>
            </div>

            <div class="input-group">
                <label>Password:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="upload-btn">Login</button>
        </form>

        <p>Don't have an account? <a href="/register" class="back-btn">Register here</a></p>
    </div>
</body>
</html>
